*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Canela', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; 
    padding: 35px 166px;
    background-color:#000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
  
.menu {
    position: relative;
    height: 80px; 
}
.menu_item {
    position: relative;
    color: #FFF;
    font-size: 20.007px;
    font-style: normal;
    font-weight: 250;
    line-height: 24.008px; 
    letter-spacing: 4.301px;
    text-decoration: none;
    margin: 30px 0 0 40px; 
}
.menu_basket {
    cursor: pointer;
    margin: 25px 0 -10px 40px;
}
.main {
    min-height: 1000px;
    background-color:#000;
    padding: 80px 130px 0 130px;
}
.wrapper {
    position: relative;
    width: 100%;
    min-height: 826px;
    background: center / cover no-repeat url('../img/background_image.jpg'), lightgray 50%;
}
.title {
    position: absolute;
    top: 147px;
    right: 217px;
    color: #FFF;
    font-family: 'Crystal Noir', sans-serif;
    font-size: 143.049px;
    font-weight: 400;
    line-height: 0px; /* 0% */
    letter-spacing: 17.166px;
}
.subtitle {
    position: absolute;
    top: 230px;
    right: 40px;
    width: 432px;
    height: 106px;
    color: #FFF;
    font-size: 29.01px;
    font-style: italic;
    font-weight: 250;
    line-height: 32.011px; /* 110.345% */
    letter-spacing: 3.191px;
}

